:root {
  --colors-white: #FFF;
  --colors-black: #0D0D0D;
  --colors-gray: #C5C5C5;
  --colors-blue: #2486C7;
  --colors-blue-light: #99C8E2;
  --colors-yellow: #F2A007;
  --colors-yellow-light: #F2B705;
  --colors-orange: #F24405;
  --colors-orange-light: #ED680B;
  --colors-green: #6C9C6C;
  --colors-green-light: #89B372;
  --gradient-invert: linear-gradient(180deg, #99C8E2 0%, rgba(255, 255, 255, 0.00) 100%);

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --font-primary: 'Luckiest Guy', cursive;
  --font-secondary:'Source Sans 3', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Luckiest Guy', cursive;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
}



