.container {
 width: 100%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 margin: 16px 0 0 0;
}

.btnExplore{
 width: 148px;
 height: 40px;
 padding: 4px 0 0 0;
 background: var(--colors-blue);
 border-radius: 42px;
 font-family: var(--font-primary);
 font-size: var(--size-16);
 font-weight: 400;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--colors-white);
 letter-spacing: 2px;
}

.container .linkInstagram, .container .linkFacebook, .container .linkWhatsApp{
 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 margin: 0 0 0 8px;
 color: var(--colors-white);
 font-size: 24px;
}

.container .linkInstagram{
 background-color: var(--colors-orange);
 transition: 0.3s;
}

.container .linkInstagram:hover{
 background-color: var(--colors-orange-light);
}

.container .linkFacebook{
 background-color: var(--colors-yellow);
 transition: 0.3s;
}

.container .linkFacebook:hover{
 background-color: var(--colors-yellow-light);
}

.container .linkWhatsApp{
 background-color: var(--colors-green);
 transition: 0.3s;
}

.container .linkWhatsApp:hover{
 background-color: var(--colors-green-light);
}